.Title {
    text-align: center;
	font-size: 50px;
	margin-top: 50px;
}

.center {
    text-align: center;
}

.loginForm {
	padding: 50px;
	width: 400px;
	margin: auto;
}

.input {
    margin: auto;
	width: 300px;
}

.inputId {
	width: 100%;
	height: 30px;
	line-height: 1.5;
	border-radius: 5px;
}

.inputPw {
	width: 100%;
	height: 30px;
	line-height: 1.5;
	margin-top: 15px;
	border-radius: 5px;
}

.findPw {
    text-align: right;
    color: #36BC9B;
}

button {
	width: 300px;
	height: 20px
	border: 1px solid #ced4da;
	border-radius: 5px;
	padding: 5px 50px;
	background: #36BC9B;
}

.a {
    font-size: 50px
}