<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>

<body>
<th:block>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <div class="login">
        <div class="title">
            <h1 class="Title">AllInBiz</h1>
        </div>
        <div class="main">
            <div class="center">
                <form th:action="@{/}" method="post">
                    <br>
                    <div class="loginForm">
                        <div class="input">
                            <input type="text" class="inputId" name="loginId" id="loginId" placeholder="아이디">
                        </div>
                        <div class="input">
                            <input type="password" class="inputPw" name="password" id="password" placeholder="비밀번호">
                        </div>
                        <div th:if="${param.error}" class="danger">로그인에 실패했습니다. 아이디와 비밀번호를 확인하세요.</div>

                        <br> <br>
                        <a th:href="@{/findPw}" class="findPw">비밀번호 찾기</a>

                        <br> <br>
                        <button>로그인</button>

                        <br><br>
                        <hr>
                        <br> <br>
                        <a th:href="@{/signup}">회원가입</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>
</body>