<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>

<body>
<th:block>
    <div class="salesPurchaseTable">
        <div class="title">
            <h1 class="Title">매출매입 - 표</h1>
        </div>
        <div class="main">
            <div class="table">
                <div>
                    표
                </div>
                <div class="dropDown">
                    대상년도
                </div>
                <div class="dropDown">
                    등록번호
                </div>
                <button>조회</button>
                <br><br>

                <div>
                    대상년도 총 손익금액
                </div>

                <div>
                    종합소득세/법인세
                </div>
                <br><br>

                <div>항목</div>
                <div>1분기</div>
                <div>2분기</div>
                <div>3분기</div>
                <div>4분기</div>

                <div>
                    매출
                </div>
                <br><br>

                <div>
                    매입
                </div>
                <br><br>

                <div>
                    손익
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>