<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="samjung.allinbiz.mapper.SalesPurchaseMapper">

    <insert id="signup" parameterType="samjung.allinbiz.domain.SalesPurchase">
        INSERT INTO salesPurchase (userName, loginId)
        VALUES (#{userName}, #{loginId})
    </insert>

</mapper>